
// Custom Styles
body {
height: 850px;
width: 100%;
background-image: url('../images/umphreys.jpg')
}
a{
  font-size: 25px;
  color: lightyellow;  
}

h1{
  font-size: 50px;
  color: gold;
}

.container{
  ul{
    font-size: 17pt;
    color: white;
    font-weight: 500;

  }
  form{
    padding: 50px;
    input{
      background-color: lightyellow;
      margin: 5px;
      border-radius: 5px;
      width: 200px;
    }
    textarea{
      background-color: lightyellow;
      margin: 5px;
      border-radius: 5px;
    }
    button{
      background-color: lightyellow;
      border-radius: 5px;
    }
  }
}
